<!DOCTYPE html>
<html>
	<head>
		<title>Contact US </title>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css">
		<script src="/static/js/contactus.js"></script>
	</head>
	<body>
		<header>
		<a href="index">Homepage</a>
	<a href="aboutus">About US</a>
	<a href="contactus">Contact US</a>
		</header>




<p id="pop" hidden style="background-color:rgba(255, 255, 255, 0.8)"></p>
		<div class="content" >
		  	<form onsubmit="return false">
<label>Name</label><br>
<input id='name' type="text"><br><br>
<label>Email</label><br>
<input id='email' type="text" "><br><br>
<label>Subject</label><br>
<input id='subject' type="text"><br><br>
<label>Message</label><br>
<textarea id='msg' ></textarea><br><br>
<input id='subm' type="submit" onclick="send()">
	  		</form>
  		</div>

		<footer>
		<a href="index">Homepage</a>
	<a href="aboutus">About US</a>
	<a href="contactus">Contact US</a>
		</footer>

	</body>

</html>
	
